.table-container {
  position: absolute;
  top: 185px;
  min-width: 100%;
}

tr,
td {
  box-shadow: 2px 2px 3px #b3a7a7;
}

.covid-details-container {
  position: absolute;
}

.hover-highlight {
  color: blue;
}

.hover-highlight:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
