.navbar-heading-wrapper {
  display: inline-block;
  position: relative;
}
.navbar-heading {
  text-align: center;
  color: white;
  display: inline-block;
}
.navbar-container {
  background-color: black;
}

.navbar-align-center {
  text-align: center;
}

.image-container {
  position: absolute;
  display: inline-block;
}

.corona-img {
  width: 40px;
  position: absolute;
  top: 6px;
  left: 6px;
}
