.sidebar-container {
  position: relative;
  display: inline-block;
}
.sidebar-container ul {
  padding: 0px;
  border-radius: 6%;
}

ul .heading {
  background-color: black;
  color: white;
}

.item {
  list-style: none;
  width: 150px;
  height: 36px;
  text-align: center;
}

.list-group-item.active {
}
